<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/../stylesheets/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="bg-indigo-50">
    <div
      class="header-main py-1 md:py-3 flex justify-between items-center bg-[#27272e] text-white"
    >
      <div
        class="buttons-container flex-none flex flex-col w-28 md:w-auto md:ml-5 ml-1"
      >
        <% if (user) { %>
        <a href="/games"
          ><div
            class="title-container shrink text-center md:text-2xl text-2xl font-title font-bold py-4 px-2"
          >
            Bored?<br />
            Game!
          </div></a
        >
        <%}%>
      </div>
      <div
        class="title-container shrink text-center md:text-5xl text-2xl font-title font-bold py-4 px-2"
      >
        <%=title%>
      </div>

      <div
        class="dropdown-container w-28 relative flex flex-none justify-end items-center mr-2 md:mr-5"
      >
        <% if (user.name) { %>

        <div
          class="w-28 h-24 flex justify-center items-center flex-col dropdown"
        >
          <img
            referrerpolicy="no-referrer"
            class="avatar cursor-pointer rounded-full h-16 w-16 border border-gray-500"
            src="<%=user.picture%>"
          />
          <div
            class="dropdown-option absolute w-28 text-center top-24 left-0 bg-indigo-800 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white md:px-6 px-2 py-2 font-bold text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
          >
            <a class="text-md font-bold" href="/users/<%= user.id%>">Profile</a>
          </div>
          <div
            class="dropdown-option absolute w-28 text-center top-32 left-0 bg-indigo-800 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white md:px-6 px-2 py-2 font-bold text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
          >
            <a class="text-md font-bold" href="/logout">Log Out</a>
          </div>
        </div>

        <% } else { %>

        <a href="/auth/google"><div class="googleSmall"></div></a>

        <% } %>
      </div>
    </div>
  </body>
</html>
