@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Love+Ya+Like+A+Sister&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.google {
  background-image: url("../images/btn_google_signin_light_normal_web@2x.png");
  background-size: contain;
  width: 250px;
  height: 60px
}
.google:hover {
  background-image: url("../images/btn_google_signin_light_focus_web@2x.png");
}
.google:active {
  background-image: url("../images/btn_google_signin_light_pressed_web@2x.png");
}
.googleSmall {
  background-image: url("../images/btn_google_signin_light_normal_web.png");
  background-size: contain;
  width: 150px;
  height: 38px

}
.googleSmall:hover {
  background-image: url("../images/btn_google_signin_light_focus_web.png");
}
.googleSmall:active {
  background-image: url("../images/btn_google_signin_light_pressed_web.png");
}
.dropdown-option {
  display: none
}
.dropdown:hover .dropdown-option {
    display:inline-block
}
.dropdown:hover .avatar {
  border: 1px solid white 
}
.index-image {
  max-height: 300px
}
.index-card {
  width: 360px;
  height: 500px
}
.index-grid {
  max-width: 1700px
}
.index-tags-holder {
  max-width: 800px;
}
.tags-index-card {
  height: 750px;
}
.collection-game-card {
  width: 200px;
  height: 180px
}
.collection-game-image {
  height: 100px;
}

@media screen and (max-width: 500px) {
  .index-card {
    max-width: 360px;
    height: 380px
  }
  .index-image {
    max-height: 220px
  }
}