@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Love+Ya+Like+A+Sister&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.google {
  background-image: url("../images/btn_google_signin_light_normal_web@2x.png");
  background-size: contain;
  width: 250px;
  height: 60px;
}
.google:hover {
  background-image: url("../images/btn_google_signin_light_focus_web@2x.png");
}
.google:active {
  background-image: url("../images/btn_google_signin_light_pressed_web@2x.png");
}
.googleSmall {
  text-align: center;
}
.dropdown-option {
  display: none;
}
.dropdown:hover .dropdown-option {
  display: inline-block;
}
.dropdown:hover .avatar {
  border: 1px solid white;
}

.index-grid {
  max-width: 1700px;
}
.index-tags-holder {
  max-width: 800px;
}
.tags-index-card {
  width: 360px;
  height: 750px;
}
.collection-game-card {
  max-width: 280px;
  width: 100%;
  height: 200px;
}
.collection-game-image-container {
  max-height: 120px;
  max-width: 120px;
}

.index-card {
  width: 300px;
  height: 340px;
}
.index-image {
  height: 180px;
}
@media screen and (min-width: 500px) {
  /* .index-image {
    max-height: 300px;
  }
  .index-card {
    width: 360px;
    height: 500px;
  } */
  .googleSmall {
    background-image: url("../images/btn_google_signin_light_normal_web.png");
    background-size: contain;
    width: 150px;
    height: 38px;
  }
  .googleSmall > .underline {
    visibility: hidden;
  }
  .googleSmall:hover {
    background-image: url("../images/btn_google_signin_light_focus_web.png");
  }
  .googleSmall:active {
    background-image: url("../images/btn_google_signin_light_pressed_web.png");
  }
  .collection-game-card {
    max-width: 200px;
    width: 100%;
    height: 230px;
  }
  .collection-game-image-container {
    max-height: 140px;
    max-width: 140px;
  }
}
