@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Love+Ya+Like+A+Sister&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-image {
    background-image: url("../images/quacks.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.google {
  background-image: url("../images/btn_google_signin_light_normal_web@2x.png");
  background-size: cover;
  width: 287px;
  height: 69px
}
.google:hover {
  background-image: url("../images/btn_google_signin_light_focus_web@2x.png");
}
.google:active {
  background-image: url("../images/btn_google_signin_light_pressed_web@2x.png");
}
.dropdown-option {
  display: none
}
.dropdown:hover .dropdown-option {
    display:inline-block
}
.dropdown:hover .avatar {
  border: 1px solid white 
}
.index-image {
  max-height: 300px
}
.index-card {
  width: 360px;
  height: 500px
}
.index-grid {
  max-width: 1700px
}
.index-tags-holder {
  max-width: 800px;
}
.tags-index-card {
  height: 750px;
}
.collection-game-card {
  width: 200px;
  height: 180px
}
.collection-game-image {
  height: 100px;

}