<%- include("../partials/header.ejs") %>
<div class="max-w-2xl text-lg flex flex-col justify-center items-center pt-5 mx-auto px-5">
  <form action="/games" method="POST">
    <div class="flex flex-col">
      <label class="block text-gray-700">Title:</label>
      <input class="block w-full rounded-md" type="text" name="title" /><br />
      <label class="block text-gray-700"
        >Description (leave blank for automatic completion 🪄):</label
      >
      <textarea
        class="block rounded-md w-full"
        type="text"
        name="description"
      ></textarea
      ><br />
      <label class="block text-gray-700">Tags:</label>
      <div class="flex max-w-2xl flex-wrap justify-start">
        <% tags.forEach(function(tag) { %>
        <div class="mr-3 flex items-center text-gray-700">
          <input
            type="checkbox"
            class="rounded my-2 mr-1"
            name="tag"
            class="inline"
            value="<%=tag._id%>"
          /><%=tag.content%>
        </div>
        <% }) %>
      </div>
      <br />
      <div class="flex justify-end">
        <button
          class="bg-[#fc773a] transition duration-150 ease-in-out hover:bg-[#ef654a] rounded text-white px-2 py-2 font-bold text-s focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#fc773a]"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<%- include("../partials/footer.ejs") %>
