<%- include("../partials/header.ejs") %>
<form action="/games" method="POST">
  Title<input name="title" /><br />
  Description<input name="description" /><br>
  Tags:<select name="tag">
      <%- tags.map(t => 
        `<option value="${t.id}">${t.content}</option>`
    ).join("") %>
  </select><br>
  <button>Submit</button>
</form>
<%- include("../partials/footer.ejs") %>
